*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f5f7fa;
    color:#333;
    line-height:1.7;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:60px 0;
}

nav{
    background:#004aad;
    position:sticky;
    top:0;
    z-index:999;
}

.nav-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.brand{
    display:flex;
    align-items:center;
    gap:10px;
    color:white;
    font-weight:bold;
}

.brand img{
    width:45px;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

.menu a:hover{
    color:#ffd000;
}

.hero{
    height:650px;

    background:
    linear-gradient(
    rgba(0,0,0,.55),
    rgba(0,0,0,.55)
    ),
    url("banner.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
    justify-content:center;
}

.hero-overlay{
    text-align:center;
    color:white;
    max-width:700px;
}

.hero h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    margin-bottom:30px;
}

.btn-primary{
    background:#ffd000;
    color:#000;
    text-decoration:none;
    padding:15px 30px;
    border-radius:10px;
    font-weight:bold;
}

h2{
    margin-bottom:20px;
    color:#004aad;
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,.1);
}

.cards .card{
    flex:1;
    min-width:250px;
}

.gallery{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));

    gap:20px;
}

.gallery img{
    width:100%;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,.2);
}

.btn-wa{
    display:inline-block;
    margin-top:20px;
    background:#25D366;
    color:white;
    text-decoration:none;
    padding:15px 25px;
    border-radius:10px;
    font-weight:bold;
}

.contact-box{
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,.1);
}

footer{
    background:#004aad;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:40px;
}

/* RESPONSIVE */

@media(max-width:768px){

.nav-content{
    flex-direction:column;
    gap:15px;
}

.menu{
    text-align:center;
}

.menu a{
    display:inline-block;
    margin:5px;
}

.hero{
    height:500px;
}

.hero h1{
    font-size:35px;
}

.hero p{
    font-size:18px;
}

}
